{% block title %}Oups, un trou de mémoire ?{% endblock %}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="grid-6-small-2">
        <div class="col-2"></div>
        <form action="{{ path('app_forgot_password') }}" method="post" class="login col-2">
            <h1>Mot de passe oublié ?</h1>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('forgot_password') }}" >
            <input type="text" id="email_or_username" name="email_or_username" value="" placeholder="Nom d'utilisateur ou email" required/><br>
            <button type="submit" class="btn--primary">Demander un nouveau mot de passe</button>
        </form>
    </div>
{% endblock %}