{% block title %}Ca arrive à tout le monde ;){% endblock %}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="grid-6-small-2">
        <div class="col-2"></div>
        <form action="{{ path('app_reset_password',{'token':user.rpToken}) }}" method="post" class="login col-2">
            <h1>Bonjour {{ user.username }} ! </h1>
            <h2>Changeons ce fichu mot de passe !</h2>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('reset_password') }}" >
            <input type="password" id="password" name="password" value="" placeholder="Nouveau mot de passe" required/><br>
            <input type="password" id="password_bis" name="password_bis" value="" placeholder="Une seconde fois" required/><br>
            <button type="submit" class="btn--primary">Changer mon mot de passe</button>
        </form>
    </div>
{% endblock %}