{% set flowerings = plant.getAttributeValuesByCodeAsArray('flowering') %}
{% set crops = plant.getAttributeValuesByCodeAsArray('crop') %}
{% if flowerings | length or crops | length %}
<form action="{{ path('plant_flowerings_crops_edit',{'id':plant.id}) }}" onsubmit="return propertyLineEditSubmit(this)">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('plant_flowerings_crops_edit') }}" >
    <table class="flowerings_crops">
        <thead>
        <tr>
            <th></th>
            <th>Jan</th>
            <th>Fév</th>
            <th>Mar</th>
            <th>Avr</th>
            <th>Mai</th>
            <th>Juin</th>
            <th>Juil</th>
            <th>Aout</th>
            <th>Sept</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Déc</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Floraison</td>
            {% for m in 1..12 %}
                <td>
                    <input type="checkbox" name="flowerings[{{ m }}]" value="1" {% if flowerings[m] is defined %}checked="checked"{% endif %} />
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>Fructif</td>
            {% for m in 1..12 %}
                <td>
                    <input type="checkbox" name="crops[{{ m }}]" value="1" {% if crops[m] is defined %}checked="checked"{% endif %} />
                </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Ok">
</form>
{% endif %}