{% if plant.images | length %}
    <div class="flex flex-wrap justify-start">
        {% for image in plant.images %}
            {% if (loop.index != 1) or (hide_first != 1) %}
                <a href="{{ asset(image.src) }}" data-fslightbox class="block flex-none"><img class="border-2 border-white shadow-lg m-2 h-24 w-24" src="{{ asset(image.src)|imagine_filter('square') }}" alt=""></a>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <span style="color:orange;">Aucune image associée</span>
{% endif %}