{% if plant.images | length %}
    <div class="flex flex-wrap">
        {% for image in plant.images %}
            <a href="{{ asset(image.src) }}" class="block"><img width="150px" src="{{ asset(image.src)|imagine_filter('square') }}" alt=""></a>
        {% endfor %}
    </div>
{% else %}
    <span style="color:orange;">Aucune image associée</span>
{% endif %}