<div class="bg-contain bg-no-repeat bg-center pt-16 text-white show bg-img h-30 w-30 text-center m-auto" data-code="{{ element.code }}" data-type="property" data-id="{{ element.id }}" style="--bg-image: url({{ asset('build/img/picto/rusticity.png') }})">
    <span style="background: #b5d1d1" class="font-black px-2 inline-block text-xl">{{ plant.Rusticity }}°C</span>
</div>