{% if plant.sources | length %}
    <div>
        <span class="uppercase font-bold">Sources : </span>
        <ul>
            {% for source in plant.sources %}
                <li class="hover:underline hover:text-blue-400">{{ source.name | autolink | raw }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}