{% if plant.sources | length %}
    <h3>Sources</h3>
    <div>
        <ul>
            {% for source in plant.sources %}
                <li>{{ source.name | autolink | raw }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}