{% extends 'base.html.twig' %}

{% block title %}Edit Nutrient{% endblock %}

{% block body %}
    <h1>Edit Nutrient</h1>

    {{ include('nutrient/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('nutrient_index') }}">back to list</a>

    {{ include('nutrient/_delete_form.html.twig') }}
{% endblock %}
