{% extends 'base.html.twig' %}

{% block title %}New Nutrient{% endblock %}

{% block body %}
    <h1>Create new Nutrient</h1>

    {{ include('nutrient/_form.html.twig') }}

    <a href="{{ path('nutrient_index') }}">back to list</a>
{% endblock %}
