[type="color"], [type="date"], [type="datetime-local"], [type="email"],
[type="month"], [type="number"], [type="password"], [type="search"],
[type="submit"], [type="tel"], [type="text"], [type="time"], [type="url"],
[type="week"], select, textarea {
  border-radius: 3px;
}

button{
  height: 34px;
}

//login
form.login,form.signin{
  [type="color"], [type="date"], [type="datetime-local"], [type="email"],
  [type="month"], [type="number"], [type="password"], [type="search"],
  [type="submit"], [type="tel"], [type="text"], [type="time"], [type="url"],
  [type="week"], select, textarea {
    width: 100%;
    margin: 10px 0;
  }
}