@import "forms";
@import "fonts";

body{
  padding: 5px;
}
select{
  background-image: none;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
img.main{
  max-width: 600px;
  margin: auto;
  text-align: center;
}
//filter
.fblock{
  display: none;
}
#form_filter [type=submit]{
  display: none;
}
span.tag{
  span.close{
    &:before{
      content : 'x';
      cursor: pointer;
    }
  }
}
.trap{
  display: none;
}