[type=color], [type=date], [type=datetime-local], [type=email],
[type=month], [type=number], [type=password], [type=search],
[type=submit], [type=tel], [type=text], [type=time], [type=url],
[type=week], select, textarea {
  border-radius: 3px;
}

button {
  height: 34px;
}

form.login [type=color], form.login [type=date], form.login [type=datetime-local], form.login [type=email],
form.login [type=month], form.login [type=number], form.login [type=password], form.login [type=search],
form.login [type=submit], form.login [type=tel], form.login [type=text], form.login [type=time], form.login [type=url],
form.login [type=week], form.login select, form.login textarea, form.signin [type=color], form.signin [type=date], form.signin [type=datetime-local], form.signin [type=email],
form.signin [type=month], form.signin [type=number], form.signin [type=password], form.signin [type=search],
form.signin [type=submit], form.signin [type=tel], form.signin [type=text], form.signin [type=time], form.signin [type=url],
form.signin [type=week], form.signin select, form.signin textarea {
  width: 100%;
  margin: 10px 0;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
h1,
h2,
h3,
h4,
h5,
h6,
.heading-font {
  font-family: "Roboto", sans-serif;
}

body {
  padding: 5px;
}

select {
  background-image: none;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: auto;
}

img.main {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.fblock {
  display: none;
}

#form_filter [type=submit] {
  display: none;
}

span.tag {
  height: 26px;
  line-height: 20px;
  padding: 3px 30px 3px 10px;
  border-radius: 13px;
  position: relative;
}
span.tag span.close {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  background: white;
  display: block;
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
}
span.tag span.close:before, span.tag span.close:after {
  position: absolute;
  content: " ";
  top: 2px;
  right: 9px;
  height: 16px;
  width: 2px;
  background-color: #e55039;
}
span.tag span.close:before {
  transform: rotate(45deg);
}
span.tag span.close:after {
  transform: rotate(-45deg);
}
span.tag span.close:hover {
  background: #e55039;
}
span.tag span.close:hover:before, span.tag span.close:hover:after {
  background: white;
}

#filters_list li > a {
  display: block;
  text-decoration: none;
  padding: 3px 10px;
}
#filters_list .active {
  font-weight: bold;
}
#filters_list .active:before {
  content: "> ";
}

#form_filter .fblock {
  padding: 10px;
}
#form_filter .fblock h4 {
  font-weight: bold;
}

#filters {
  padding: 10px 0;
}

#filters_list .cat_1 {
  background: #b8e994;
}

#form_filter .fblock.cat_1 {
  background: #b8e994;
}

.tag.cat_1 {
  background: #b8e994;
}

#filters_list .cat_2 {
  background: #78e08f;
}

#form_filter .fblock.cat_2 {
  background: #78e08f;
}

.tag.cat_2 {
  background: #78e08f;
}

#filters_list .cat_3 {
  background: #38ada9;
}

#form_filter .fblock.cat_3 {
  background: #38ada9;
}

.tag.cat_3 {
  background: #38ada9;
}

#filters_list .cat_4 {
  background: #82ccdd;
}

#form_filter .fblock.cat_4 {
  background: #82ccdd;
}

.tag.cat_4 {
  background: #82ccdd;
}

#filters_list .cat_5 {
  background: #60a3bc;
}

#form_filter .fblock.cat_5 {
  background: #60a3bc;
}

.tag.cat_5 {
  background: #60a3bc;
}

.trap {
  display: none;
}

/*# sourceMappingURL=style.css.map */
