{% if icon is defined %}
    {% set icon_html %}<div class="inline-block bg-img bg-contain bg-no-repeat bg-center h-10 w-10" style="--bg-image: url({{ icon }})" ></div>{% endset %}
{% else %}
    {% set icon_html = ''%}
{% endif %}
{% set content %}{% for code in codes %}{% include properties_and_attributes[code].templates('tiny') with {'element': properties_and_attributes[code],'plant' : plant} %}{% endfor %}
{% endset %}
{% if content | length > 5 %}
<div class="flex gap-4 mb-4">
    {{ icon_html }} <div>{{ content }}</div>
</div>
{% endif %}

