{% extends 'base.html.twig' %}

{% block title %}New Humus{% endblock %}

{% block body %}
    <h1>Create new Humus</h1>

    {{ include('humus/_form.html.twig') }}

    <a href="{{ path('humus_index') }}">back to list</a>
{% endblock %}
