{% extends 'base.html.twig' %}

{% block title %}New Clay{% endblock %}

{% block body %}
    <h1>Create new Clay</h1>

    {{ include('clay/_form.html.twig') }}

    <a href="{{ path('clay_index') }}">back to list</a>
{% endblock %}
