{% extends 'base.html.twig' %}

{% block title %}New Humidity{% endblock %}

{% block body %}
    <h1>Create new Humidity</h1>

    {{ include('humidity/_form.html.twig') }}

    <a href="{{ path('humidity_index') }}">back to list</a>
{% endblock %}
