  :root{
    --color-bg-one: #f6f7f9;
    --color-bg-two: #ECEAE4;
    --color-green_one: #86A35B;
    --color-card-block: #eee1d1;
    --color-green_two: #0d634a;
    --color-green_three: #307577;
    --color-head: #00000080;
    --color-theme-limo : #b8e994;
    --color-theme-fresh : #78e08f;
    --color-theme-leaf : #38ada9;
    --color-theme-morning : #82ccdd;
    --color-theme-mid : #60a3bc;
  }
