{% extends 'base.html.twig' %}

{% block title %}Edit Soil{% endblock %}

{% block body %}
    <h1>Edit Soil</h1>

    {{ include('soil/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('soil_index') }}">back to list</a>

    {{ include('soil/_delete_form.html.twig') }}
{% endblock %}
