{% extends 'base.html.twig' %}

{% block title %}New Soil{% endblock %}

{% block body %}
    <h1>Create new Soil</h1>

    {{ include('soil/_form.html.twig') }}

    <a href="{{ path('soil_index') }}">back to list</a>
{% endblock %}
