{{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <a href="{{ path('plant_index') }}" class="btn--info btn"><i class="mdi mdi-arrow-left"></i>&nbsp;retour</a>
    <button class="btn btn--primary">Créer</button>
{{ form_end(form) }}