{% extends 'base.html.twig' %}

{% block title %}Hello PlantController!{% endblock %}

{% block body %}

    <hr>
    <h1>Liste des plantes</h1>
    <hr>

    {% include "plant/_partial/filters.html.twig" %}

    <hr>
    <h2>Plantes</h2>

    {% if plants | length %}
    <ul>
        {% for plant in plants %}
            <li>
                {% include "plant/_partial/plant_line.html.twig" %}
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <div>Aucune plante répértoriée ne correspond à ces critères</div>
    {% endif %}


{% endblock %}
