{% extends 'base.html.twig' %}

{% block title %}New Plant{% endblock %}

{% block body %}
    <h1>Create new Plant</h1>

    {{ include('plant/_form.html.twig') }}

    <a href="{{ path('plant_index') }}">back to list</a>
{% endblock %}
