// @import "~@mdi/font/scss/materialdesignicons";
@use "tailwindcss" as *;
@use "sources/vars" as *;
@use "sources/edit" as *;
@use "sources/fonts" as *;

@theme {
 --font-sans: "Josefin Sans", 'JosefinSans_local', 'ui-sans-serif', 'system-ui', '-apple-system', 'BlinkMacSystemFont', "Segoe UI", "Helvetica Neue", 'Arial', "Noto Sans", 'sans-serif', "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* Add the lines below */
@layer utilities {
  @variants responsive {
    .masonry {
      column-count: 4;
      column-gap: 1.5em;
      & > * {
        break-inside: avoid;
      }
    }
  }
}
html{
  @apply font-sans;
}

body{
  background: var(--color-bg-one);
}
p > a{
  @apply text-gray-900 underline hover:no-underline hover:text-black;
}
h1{
  @apply w-full text-center font-sans font-black;
}
.btn{
  @apply focus:outline-none text-white text-sm py-2.5 px-5  rounded-md
}
.btn--primary{
  @apply bg-(--color-green_two) hover:bg-(--color-green_one)
}
.btn--secondary{
  @apply border-gray-600 bg-gray-500 hover:bg-gray-400
}
.btn--success{
  @apply bg-(--color-green_one) hover:bg-(--color-green_two)
}
.btn--danger{
  @apply border-red-600 bg-red-500 hover:bg-red-400
}
.btn--warning{
  @apply border-yellow-600 bg-yellow-500 hover:bg-yellow-400
}
.btn--info{
  @apply border-purple-600 bg-purple-500 hover:bg-purple-400
}
.btn--dark{
  @apply border-gray-600 bg-gray-500 hover:bg-gray-400
}

form:not(.seamless){
  label{
    @apply text-xs font-semibold px-1;
  }
  input[type=text],input[type=password],input[type=email]{
    @apply w-full px-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500
  }
  input.iconed {
    @apply -ml-10 pl-10 pr-3
  }
  textarea{
    @apply w-full px-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500
  }
  .trap{
    visibility: hidden;
  }
}
.ico{
  @apply w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center;
  i{
    @apply text-gray-400 text-lg
  }
}

.stratum{
  @apply py-1 px-3 rounded-full text-xs
}
.stratum--low{
  @apply bg-purple-100 text-purple-500
}
.stratum--shrub{
  @apply bg-purple-200 text-purple-600
}
.stratum--medium{
  @apply bg-purple-300 text-purple-600
}
.stratum--tree{
  @apply bg-purple-400 text-white
}
.stratum--canopy{
  @apply bg-purple-500 text-purple-100
}
.stratum--climbing{
  @apply bg-yellow-200 text-yellow-600
}

$themeColours: (
  "1": var(--color-theme-limo),
  "2": var(--color-theme-fresh),
  "3": var(--color-theme-leaf),
  "4": var(--color-theme-morning),
  "5": var(--color-theme-mid)
);

@each $i, $color in $themeColours {
  #filters_list{
    .cat.cat--#{$i}{
      background: $color !important;
    }
  }
  #form_filter{
    .fblock.cat--#{$i} h4{
      background: $color;
    }
  }
  .tag.cat--#{$i}{
    background: $color;
  }
}
.tag{
  @apply py-1 px-3 rounded-full mr-1;
}
.attribute-value{
  @apply py-0.5 px-1 m-0.5 inline-block rounded-lg;
}
#filters_list{
  .cat{
    @apply block w-4/5 py-3 px-6 relative overflow-hidden bg-white transition-opacity text-right hover:opacity-65;
  }
  .cat.active{
    @apply w-full pr-16 text-right;
    &::after,&::before {
      position: absolute;
      display: block;
      content: '';
      width: 0;
      height: 0;
    }
    &::after {
      right:0;
      top:0;
      border-width: 0 50px 50px 0;
      border-color: transparent var(--color-bg-one) transparent transparent;
    }
    &::before {
      right:0;
      bottom:0;
      border-width: 0 0 50px 50px;
      border-color: transparent transparent var(--color-bg-one) transparent;
    }
  }
  .cat--all{
    @apply bg-purple-500;
  }
}
.fblock{
  @apply bg-white shadow rounded-xl mx-1 overflow-hidden mb-2;
  h4{
    @apply text-gray-900 uppercase text-sm leading-normal w-full py-3 px-6 text-left;
  }
  .content{
    @apply px-2;
  }
}
.bg-img{
  background-image: var(--bg-image);
}
.border-955441{
  border-color: #955441;
}
.border-afbf6a{
  border-color: #afbf6a;
}
.theme-afbf6a{
  h3{
    color:#afbf6a;
  }
  .mygroup{
    border-color: #afbf6a;
    //background-color: lighten(#afbf6a,100);
  }
}
.theme-955441{
  h3{
    color:#955441;
  }
  .mygroup{
    border-color: #955441;
    //background-color: lighten(#955441,100);
  }
}