{# templates/emails/forgot_password.html.twig #}

Bonjour {{ user.username }},<br>
Pour définir un nouveau mot de passe visite
<a href="{{ url('app_reset_password',{'token':user.rpToken}) }}">cette url</a>
avant le {{ user.rpDelay | date("d M Y à H:i") }}<br>
A très bientôt