{% extends 'base.html.twig' %}

{% block title %}New Ph{% endblock %}

{% block body %}
    <h1>Create new Ph</h1>

    {{ include('ph/_form.html.twig') }}

    <a href="{{ path('ph_index') }}">back to list</a>
{% endblock %}
